<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'We found ' + ${size} + ' documents!'"></p>
<!--@thymesVar id="items" type="de.pfeufferweb.inbox.SearchResult.SearchItem"-->
<ul th:each="item : ${items}">
    <li>
        <a th:href="'/read/' + ${item.uuid}" th:text="${item.location}">nothing</a>
        <br/>
        <span th:text="${item.content}">nothing</span>
    </li>
</ul>
</body>
</html>
